### IMPORTAMOS LAS LIBRERÍAS A UTILIZAR

In [1]:
# Librerias de tratamiento de datos y visualizaciones
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
import matplotlib.ticker as ticker
from tabulate import tabulate
import warnings
warnings.filterwarnings("ignore")

# Librerías de funciones
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler


# Gráficos
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

# Preprocesado y modelado
from sklearn.impute import KNNImputer
# from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import RadiusNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Metricas para regresiones
from sklearn.metrics import jaccard_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix

# Varios
import multiprocessing
import random
from itertools import product
from sklearn.preprocessing import MinMaxScaler
import pickle

# Validacion
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

# Métodos de Validación
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [2]:
# Carga de los Datasets.
test_data = pd.read_csv(r"C:\Users\terer\Desktop\PROYECTO 2\Airline Passenger Satisfaction\test.csv")

# Crear copia de los Datasets.

test_df = test_data.copy()

# Definimos la variabel Target.
TARGET = "satisfaction"

In [3]:
# Forma de los Datasets.

print(f"The test dataset has {test_df.shape[0]} rows and {test_df.shape[1]} columns.")

The test dataset has 25976 rows and 25 columns.

In [4]:
# Mostramos las 5 primeras filas del dataset de entrenamiento.
test_df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [5]:
# Información general del Dataset entrenamiento.
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [6]:
# Información del número de valores perdidos de cada columna Dataset Entenamiento
test_df.isna().sum()

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [7]:
test_df=test_df.dropna()

In [8]:
test_df.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [9]:
# Información estadística del dataset entrenamiento.
test_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25893.0,12987.838566,7499.175165,0.0,6496.0,12984.0,19482.0,25975.0
id,25893.0,65021.974858,37606.098635,17.0,32209.0,65344.0,97623.0,129877.0
Age,25893.0,39.621983,15.134224,7.0,27.0,40.0,51.0,85.0
Flight Distance,25893.0,1193.753254,998.626779,31.0,414.0,849.0,1744.0,4983.0
Inflight wifi service,25893.0,2.723709,1.334711,0.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,25893.0,3.046422,1.532971,0.0,2.0,3.0,4.0,5.0
Ease of Online booking,25893.0,2.755996,1.412552,0.0,2.0,3.0,4.0,5.0
Gate location,25893.0,2.976442,1.281661,1.0,2.0,3.0,4.0,5.0
Food and drink,25893.0,3.214923,1.331895,0.0,2.0,3.0,4.0,5.0
Online boarding,25893.0,3.261615,1.355505,0.0,2.0,4.0,4.0,5.0
Seat comfort,25893.0,3.448886,1.320254,1.0,2.0,4.0,5.0,5.0
Inflight entertainment,25893.0,3.356969,1.338643,0.0,2.0,4.0,4.0,5.0
On-board service,25893.0,3.385587,1.282033,0.0,2.0,4.0,4.0,5.0
Leg room service,25893.0,3.349786,1.319045,0.0,2.0,4.0,4.0,5.0
Baggage handling,25893.0,3.632681,1.176220,1.0,3.0,4.0,5.0,5.0
Checkin service,25893.0,3.313907,1.269138,1.0,3.0,3.0,4.0,5.0
Inflight service,25893.0,3.648824,1.180650,0.0,3.0,4.0,5.0,5.0
Cleanliness,25893.0,3.285521,1.319355,0.0,2.0,3.0,4.0,5.0
Departure Delay in Minutes,25893.0,14.225080,37.185919,0.0,0.0,0.0,12.0,1128.0
Arrival Delay in Minutes,25893.0,14.740857,37.517539,0.0,0.0,0.0,13.0,1115.0

In [10]:
# Eliminamos las columnas "Unnamed: 0" e "id" del conjunto de datos, dado que ambas columnas son irrelevantes.

test_df.drop(columns=["Unnamed: 0", "id"], axis=1, inplace=True)

In [11]:
# Eliminamos las columnas que hicimos igualmente con el train_df
test_df.drop(columns=["Gender", "Age", "Departure/Arrival time convenient"], axis=1, inplace=True)

In [12]:
# Reducimos ados elementos ya que se comportan igual
test_df["Class"] = test_df["Class"].apply(lambda x : x.replace("Eco Plus", "Eco"))

In [13]:
# Vemos los elementos y los parametros de las columnas
test_df_cual = test_df.select_dtypes(include=['object'])
test_df_cual.describe()

         Customer Type   Type of Travel  Class             satisfaction
count            25893            25893  25893                    25893
unique               2                2      2                        2
top     Loyal Customer  Business travel    Eco  neutral or dissatisfied
freq             21111            17980  13436                    14528

In [14]:
# Lo pasamos a numérica y y eliminamos las columnas 
test_df = pd.concat([test_df, pd.get_dummies(test_df[["Customer Type", "Type of Travel", "Class","satisfaction"]])], axis = 1)

test_df.drop(["Customer Type", "Type of Travel", "Class","satisfaction"], axis = 1, inplace = True)

In [15]:
test_df

,Flight Distance,Inflight wifi service,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,...,Departure Delay in Minutes,Arrival Delay in Minutes,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,160,5,3,4,3,4,3,5,5,5,...,50,44.0,1,0,1,0,0,1,0,1
1,2863,1,3,1,5,4,5,4,4,4,...,0,0.0,1,0,1,0,1,0,0,1
2,192,2,2,4,2,2,2,2,4,1,...,0,0.0,0,1,1,0,0,1,1,0
3,3377,0,0,2,3,4,4,1,1,1,...,0,6.0,1,0,1,0,1,0,0,1
4,1182,2,4,3,4,1,2,2,2,2,...,0,20.0,1,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,526,3,3,1,4,3,4,4,3,2,...,0,0.0,0,1,1,0,1,0,1,0
25972,646,4,4,4,4,4,4,4,4,5,...,0,0.0,1,0,1,0,1,0,0,1
25973,828,2,1,5,2,1,2,2,4,3,...,0,0.0,1,0,0,1,0,1,1,0
25974,1127,3,3,3,4,4,4,4,3,2,...,0,0.0,1,0,1,0,1,0,0,1
25975,264,2,2,5,4,2,2,1,1,2,...,0,0.0,1,0,0,1,0,1,1,0

In [16]:
# Eliminamos las columnas duplicadas
test_df.drop(["Customer Type_Loyal Customer", "Type of Travel_Business travel", "Class_Business","satisfaction_neutral or dissatisfied"], axis = 1, inplace = True)

In [17]:
# Renombramos las columnas
test_df.rename(columns={'Customer Type_disloyal Customer':'Customer Type',
                        'Type of Travel_Personal Travel':'Type of Travel',
                         'Class_Eco':'Class','satisfaction_satisfied':'satisfaction'},
               inplace=True)
test_df

,Flight Distance,Inflight wifi service,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Customer Type,Type of Travel,Class,satisfaction
0,160,5,3,4,3,4,3,5,5,5,5,2,5,5,50,44.0,0,0,1,1
1,2863,1,3,1,5,4,5,4,4,4,4,3,4,5,0,0.0,0,0,0,1
2,192,2,2,4,2,2,2,2,4,1,3,2,2,2,0,0.0,1,0,1,0
3,3377,0,0,2,3,4,4,1,1,1,1,3,1,4,0,6.0,0,0,0,1
4,1182,2,4,3,4,1,2,2,2,2,2,4,2,4,0,20.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,526,3,3,1,4,3,4,4,3,2,4,4,5,4,0,0.0,1,0,0,0
25972,646,4,4,4,4,4,4,4,4,5,5,5,5,4,0,0.0,0,0,0,1
25973,828,2,1,5,2,1,2,2,4,3,4,5,4,2,0,0.0,0,1,1,0
25974,1127,3,3,3,4,4,4,4,3,2,5,4,5,4,0,0.0,0,0,0,1
25975,264,2,2,5,4,2,2,1,1,2,1,1,1,1,0,0.0,0,1,1,0

In [18]:
### Modelos

In [19]:
# Reparto de datos en train y test
# ==============================================================================
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                        test_df.drop('satisfaction', axis = 'columns'),
                                        test_df['satisfaction'],
                                        train_size   = 0.8,
                                        random_state = 1234,
                                        shuffle      = True
                                    )

In [20]:
#El enfoque es la diferencia entre RB y R, RB es abierta binario, R es un archivo de texto abierto
f=open(r"C:\Users\terer\Downloads\mejor_modelo.pkl",'rb')
data = pickle.load(f)
print(data)

RandomForestClassifier(criterion='entropy', max_depth=40, max_leaf_nodes=3800)

In [21]:
# Calculate the roc score and predict target values
score = data.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Ypredict = data.predict(X_test)

Test score: 96.31 %

In [22]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25893 entries, 0 to 25975
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Flight Distance             25893 non-null  int64
 1   Inflight wifi service       25893 non-null  int64
 2   Ease of Online booking      25893 non-null  int64
 3   Gate location               25893 non-null  int64
 4   Food and drink              25893 non-null  int64
 5   Online boarding             25893 non-null  int64
 6   Seat comfort                25893 non-null  int64
 7   Inflight entertainment      25893 non-null  int64
 8   On-board service            25893 non-null  int64
 9   Leg room service            25893 non-null  int64
 10  Baggage handling            25893 non-null  int64
 11  Checkin service             25893 non-null  int64
 12  Inflight service            25893 non-null  int64
 13  Cleanliness                 25893 non-null  int64
 14  Departure Delay in Minutes  25893 non-null  int64
 15  Arrival Delay in Minutes    25893 non-null  float64
 16  Customer Type               25893 non-null  uint8
 17  Type of Travel              25893 non-null  uint8
 18  Class                       25893 non-null  uint8
 19  satisfaction                25893 non-null  uint8
dtypes: float64(1), int64(15), uint8(4)
memory usage: 3.5 MB